<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card ion-card color="primary"  expand="block">
      <ion-card-content> 
        <ion-label style="font-size: 45px;">GANASTE!!</ion-label>
        <br>
        <ion-label >Tiempo: {{ tiempo }} segundos</ion-label>
        <ion-button color="light" expand="block" (click)="guardarResultado()">Aceptar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>



