.boton-login-usuario {
    height: 100px;
    width: 100px;
    margin: 2px;
    border-radius: 27%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid;
    border-color: #d89ceb;
  }

  .logo-app {
    display: flex;
    margin: auto;
    padding: 10px;
    height: 200px;
    width: 200px;
  }