<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      A JUGAR!!
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

    <!-- Pantalla de selección de dificultad -->
    
    
    <div *ngIf="!juegoIniciado" class="seleccion-dificultad">
      <ion-grid>
        <ion-row>
          <ion-col>        
            <ion-card color="primary"  expand="block" (click)="empezarJuego('facil')">
              <ion-label style="font-size: 45px;">
                <ion-icon aria-hidden="true" name="paw-outline"></ion-icon>
                Fácil
              </ion-label>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>   
            <ion-card color="primary"  expand="block" (click)="empezarJuego('medio')">
              <ion-label style="font-size: 45px;">
                <ion-icon aria-hidden="true" name="hammer-outline"></ion-icon>
                Medio
              </ion-label>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card color="primary"  expand="block" (click)="empezarJuego('dificil')">
              <ion-label style="font-size: 45px;">
                <ion-icon aria-hidden="true" name="nutrition-outline"></ion-icon>
                Difícil
              </ion-label>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
    <!-- Pantalla del juego -->
    <div *ngIf="juegoIniciado">
      <ion-button *ngIf="juegoIniciado" (click)="reiniciarJuego()">
        Volver a selección de dificultad
      </ion-button>

      <ion-text *ngIf="juegoIniciado">Tiempo: {{ tiempo }}s</ion-text>

      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let carta of cartas" size="6">
            <ion-card (click)="seleccionarCarta(carta)">
              <img *ngIf="carta.estado !== 'oculta'" [src]="carta.imagen">
              <img *ngIf="carta.estado === 'oculta'" class="reverso" src="../../assets/reverso.png">
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


</ion-content>
  
  